@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
    position: relative;
    height: 100vh;   /* instead of 85vh */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.hero::before {
    content: "";
    position: absolute;
    top: 0;        /* remove the negative offset */
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/Jadavpur_University_Hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    filter: brightness(40%);
}


@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}
